<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>show product </h1>

<h3>category : {{.Data.Product.Category.Title}}</h3>
<h3>Product Images :
    {{range .Data.Product.ImageProducts }}
        {{.Path}}<br>
    {{end}}
</h3>
<br>
<h3>
    Product Title : {{.Data.Product.Title}} <br>
    Product Price : {{.Data.Product.SalePrice}} <br>
    Product Original Price : {{.Data.Product.OriginalPrice}} <br>
    Product Quantity : {{.Data.Product.Quantity}} <br>
    Product Description : {{.Data.Product.Description}} <br>
</h3>
</body>
</html>